@font-face {
  font-family: "VT323";
  src: url("../fonts/VT323-Regular.ttf");
}

.text-area {
  -fx-font-family: "VT323", monospace;
  -fx-font-size: 16px;

  -fx-background-color: #cee0dc;
  -fx-control-inner-background: #cee0dc;
  -fx-border-color: #cee0dc;
  -fx-border-radius: 5px;
}

.text {
  -fx-font-family: "VT323", monospace;
  -fx-font-size: 26px;
}

.text-field {
  -fx-background-color: #cee0dc;
  -fx-border-color: #cee0dc;
  -fx-border-radius: 5px;
  -fx-font-family: "VT323", monospace;
  -fx-font-size: 16px;
}

.thumb {
  -fx-background-color: #5f9ed9;
  -fx-border-radius: 5px;
}

thumb:hover {
  -fx-background-color: #dce8e6;
  -fx-border-radius: 5px;
}

.progress-indicator {
  /* Set the size of the spinner */
  -fx-pref-width: 50px;
  -fx-pref-height: 50px;

  /* Change the color of the spinning arc */
  -fx-progress-color: rgb(101, 143, 192);
  /* A nice blue */
}

.button {
  -fx-font-size: 21px;
  -fx-font-weight: bold;
  -fx-background-color: #5f9ed9;
  -fx-text-fill: #f0f0f0;
  -fx-border-radius: 5px;

  -fx-padding: 10%;
  -fx-border-radius: 5px;
}

/* Slider for Human */
.slider .track {
  -fx-background-color: transparent;
}

.slider .thumb {
  -fx-background-color: transparent;
  -fx-background-image: url("../images/memories/assets/slider.png");
  -fx-background-size: 100% 100%;
  /* Scales the image to fit the thumb's dimensions */
  -fx-background-repeat: no-repeat;
  -fx-pref-width: 25px;
  -fx-pref-height: 25px;
  -fx-background-position: center;
}

.close-button {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-color: #8b2626;
  -fx-text-fill: white;
  -fx-border-radius: 5px;

  -fx-padding: 5%;
  -fx-border-radius: 5px;
}