@font-face {
  font-family: "VT323";
  src: url("fonts/VT323-Regular.ttf");
}

.rationale_area {
  -fx-font-family: "VT323", monospace;
  -fx-font-size: 22px;
  -fx-background-color: #cee0dc;
  -fx-control-inner-background: #cee0dc;
}

.text {
  -fx-font-family: "VT323", monospace;
  -fx-font-size: 26px;
}